<app-layout [isLoading]="isLoading">
    <span *ngIf="error">
      Loading failed
    </span>
    <div style="text-align:center">
      <h2 class="text-center">Pokedex List</h2>
        <div>
          <h6 class="text-center">(Select Region) </h6>
        </div>
        <div>
          <form #form="ngForm">
            <select class="form-select selectpicker" 
            [ngModel]="GenerationOptions[regionIndex]" 
            ng-model="selectedName"
            (ngModelChange)="changeGen($event)"
            name="Generation"
            aria-label="Default select example">
              <option 
              *ngFor="let region of GenerationOptions; let i = index" 
              [attr.selected]="i == 0 "  name="region.name" [ngValue]="region">
              {{region.name}}
              </option>
            </select>
          </form>
        </div>

      <div class="row d-flex justify-content-center ">
        <ul class="pagination ">
          <li class="page-item">
            <a (click)="PrevPage()"  class="pointer paginator hover-gray">
              <i class="fas fa-chevron-left"></i>
            </a>
          </li>
          <li class="page-item">              
            <a (click)="NextPage()"  class="pointer paginator hover-gray">
              <i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="!isLoading">
      <div class="container content">
        <div class="row">
          <div class="col-md-2" *ngFor="let pokemon of pokemonList">
            <div class="card-deck">
              <div class="poke card text-center mt-2 mb-2" style="width: 18rem;">
                <div class="card-header px-0">
                  {{ pokemon.name }}
                </div>
                <a [routerLink]="['/pokemon', pokemon.id]">
                  <div class="card-body">
                  <img class="card-img-top" src="{{ pokemon.imageUrl }}" >
                </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </app-layout>
